table,th,td {
    border: 1px solid;
}

td {
    padding: 5px 10px;
}
.table{
    display: flex;
    align-items: center;
    overflow: scroll;
    max-height: 30rem;
    max-width: 35rem;
    overflow-y: auto;
}

