.nav-items{
    color: black;
}
.match-date{
    background-color: rgb(150, 55, 238);
    text-align: center;
}

.header {
    height: rem(56px);
    margin-bottom: rem(120px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
  }
  
.navbar {
    display: flex;
    border: 3px solid black;
    background-color: white;
    border-radius: 5px;
    
    width: 100%;
    margin-left: 0;
    top: 0;
}
.inner-navbar{
    width: 95%;
    justify-content: center;
}
body {
    background-color: rgb(224, 219, 219);
}

.match {
    display: grid;
    grid-template-columns: 1fr 50px 1fr; 
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.team1, .team2{
    font-size: 1.1em;
}
.team2 {
    text-align: right;
}

.time {
    flex-shrink: 0;
    width: 50px; 
    text-align: center;
    font-weight: bold;
    background-color: red;
    
}
.flex {
    width:50%;
    
}
.stack {
    width: 50%;
    margin: auto;
}

.league-title {
    margin: auto;
}
