.nav-items{
    color: #F2F2F2;
}


.header {
    height: rem(56px);
    margin-bottom: rem(120px);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
  }
  
.navbar {
    display: flex;
    border: 3px solid #432E67;
    background-color: #6747A0;
    border-radius: 5px;
    
    width: 100%;
    top: 0;
    position: absolute;
}
.inner-navbar{
    width: 95%;
    justify-content: center;
}
body {
    background-color: #403A4B;
    color: #F2F2F2;
    font-family: "Bebas Neue";
    font-size: 1.1em;
    margin: 0;
}

.match-date{
    background-color: #C3B1E1;
    text-align: center;
    border-radius: 5px;
    text-shadow: #403A4B;
}

.match {
    display: grid;
    grid-template-columns: 1fr 50px 1fr; 
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;

}

.team1, .team2{
    font-size: 1.1em;
}
.team2 {
    text-align: right;
}

.time {
    flex-shrink: 0;
    width: 50px; 
    text-align: center;
    font-weight: bold;
    background-color: #6747A0;
    
}
.flex {
    width:50%;
    
}
.stack {
    width: 50%;
    margin: auto;
}

.league-title {
    margin: auto;

}
.link {
    color: #F2F2F2;

}
.flex-link {
    display: inline-flex;
    margin: auto;
    background-color: #6747A0;
    justify-content: center;
}

